body {
    width: 70%;
    margin: 0 auto;
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.websiteTitle {
    margin-top: 2em;
    width: 100%;
    border: 1px solid black;
    border-radius: 25px 25px 0px 0px;
    background-color: coral;
}

.logins {
    padding: 1em;
}

.list {
    width: 100%;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 0px 0px 25px 25px;
    margin-bottom: 2em;
}

.listing {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0.5em 1em 0.5em 1em;
}

.basic {
    display: flex;
    flex-direction: row;
}

.basicInfo {
    padding: 0.5em 0em;
    border: 1px solid black;
    text-align: center;
    width: 25%;
}

.status option{
    background-color: white;
}

input:disabled{
    color: black;
    opacity: 100%;
}

select:disabled{
    color: black;
    opacity: 100%;
}

.rating:disabled{
    background-color: aqua;
}

.add{
    padding: 0.5em;
    border: 1px solid black;
}

.title {
    grid-area: title;
    width: 50%;
}

.advanced {
    display: none;
}

.showAdvanced {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "wikiLink description"
        "trailer description"
        "edit description"
        "remove description";
}

.editAdvanced {
    width: inherit;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "wikiLinkInput description"
        "trailerInput description"
        "save description"
        "cancel description";
}

.adv {
    padding: 0.5em;
    text-align: center;
    border: 1px solid black;
}

.wikiLink {
    text-align: center;
    grid-area: wikiLink;
}

.wikiLinkInput{
    grid-area: wikiLinkInput;
    display: none;
}

.trailerInput{
    grid-area: trailerInput;
    display: none;
}

.trailer {
    text-align: center;
    grid-area: trailer;
}

.edit {
    grid-area: edit;
}

.remove {
    grid-area: remove;
}

.description {
    padding: 1em;
    grid-area: description;
}

button {
    text-align: center;
    background-color: antiquewhite;
}

button:hover {
    background-color: aliceblue;
}

textarea{
    resize: none;
}

textarea:disabled{
    opacity: 100%;
    color: black;
}

.save{
    grid-area: save;
    display: none;
}

.cancel{
    grid-area: cancel;
    display: none;
}

.hid{
    display: none;
}

@media screen and (min-width: 1000px) {
    body {
        min-width: 885px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        width: 90%;
        min-width: none;
    }
}

@media screen and (max-width: 680px) {
    body{
        width: 90%;
        min-width: none;
    }
    .basic {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "status rating";
    }
    .basicInfo{
        width: inherit;
    }
    .showAdvanced{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2em 1fr 2em;
        grid-template-areas:
        "wikiLink trailer"
        "description description"
        "edit remove";
    }
    .editAdvanced{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2em 1fr 2em;
        grid-template-areas:
        "wikiLinkInput trailerInput"
        "description description"
        "save cancel";
    }
    .trailerInput {
        padding: 0;
        font-size: 0.8em;
    }
    .wikiLinkInput{
        padding: 0;
        font-size: 0.8em
    }
}