body{
    width: 70%;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.websiteTitle{
    width: 100%;
    border: 1px solid black;
    background-color: coral;
}

.all{
    width: 100%;
    border: 1px solid black;
    background-color: bisque;
}

.listing{
    text-align: left;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0.5em 1em 0.5em 1em;
}

.basic{
    display: flex;
    flex-direction: row;
}

.title{
    padding: 0.5em 0em 0.5em;
    border: 1px solid black;
    width: 50%;
    text-align: center;
}

.status{
    padding: 0.5em 0em 0.5em;
    border: 1px solid black;
    width: 25%;
    text-align: center;
}

.rating{
    padding: 0.5em 0em 0.5em;
    border: 1px solid black;
    width: 25%;
    text-align: center;
}

.advanced{
    display: none;
}

.showAdvanced{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "wikiLink description"
    "youtubeLink description"
    "edit description"
    "remove description";
}

.adv{
    border: 1px solid black;
}

.wikiLink{
    text-align: center;
    grid-area: wikiLink;
}

.youtubeLink{
    text-align: center;
    grid-area: youtubeLink;
}

.edit{
    grid-area: edit;
}

.remove{
    grid-area: remove;
}

.description{
    padding: 1em;
    grid-area: description;
}

button{
    text-align: center;
    background-color: antiquewhite;
}

button:hover{
    background-color: aliceblue;
}