body {
    width: 70%;
    margin: 0 auto;
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.websiteTitle {
    margin-top: 2em;
    width: 100%;
    border: 1px solid black;
    border-radius: 25px 25px 0px 0px;
    background-color: coral;
}

.headerLogins {
    padding: 1em;
}

.watchList {
    width: 100%;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 0px 0px 25px 25px;
    margin-bottom: 2em;
}

.watchListItem {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0.5em 1em 0.5em 1em;
}

.addNewItem {
    padding: 0.5em;
    border: 1px solid black;
}

.basicData {
    display: flex;
    flex-direction: row;
}

.hiddenID {
    display: none;
}

.basicInformation {
    padding: 0.5em 0em;
    border: 1px solid black;
    text-align: center;
    width: 25%;
}

.itemTittle {
    grid-area: title;
    width: 50%;
}

.itemStatus option {
    background-color: white;
}

.itemRating:disabled {
    background-color: aqua;
}

input:disabled {
    color: black;
    opacity: 100%;
}

select:disabled {
    color: black;
    opacity: 100%;
}

.detailedData {
    display: none;
}

.showDetailedData {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "wikiLink description"
        "trailer description"
        "edit description"
        "remove description";
}

.editDetailedData {
    width: inherit;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "wikiLinkInput description"
        "trailerInput description"
        "save description"
        "cancel description";
}

.adv {
    padding: 0.5em;
    text-align: center;
    border: 1px solid black;
}

.editable{
    outline: none;
}

.itemWikiLink {
    text-align: center;
    grid-area: wikiLink;
}

.itemWikiLinkInput {
    grid-area: wikiLinkInput;
    font-size: 1em;
    display: none;
}

.itemTrailerInput {
    grid-area: trailerInput;
    font-size: 1em;
    display: none;
}

.itemDescription {
    resize: none;
    font-size: 1em;
    padding: 1em;
    grid-area: description;
}

.itemDescription:disabled{
    opacity: 100%;
    color: black;
}

.itemEditButton {
    grid-area: edit;
}

.itemRemoveButton {
    grid-area: remove;
}

.itemSaveButton {
    grid-area: save;
    display: none;
}

.itemCancelButton {
    grid-area: cancel;
    display: none;
}

button {
    text-align: center;
    background-color: antiquewhite;
}

button:hover {
    background-color: aliceblue;
}

@media screen and (min-width: 1000px) {
    body {
        min-width: 885px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        width: 90%;
        min-width: none;
    }
}

@media screen and (max-width: 680px) {
    body {
        width: 90%;
        min-width: none;
    }

    .basicData {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title"
            "status rating";
    }

    .basicInformation {
        width: inherit;
    }

    .showDetailedData {
        display: flex;
        flex-direction: column;
    }

    .editDetailedData {
        display: flex;
        flex-direction: column;
    }
}